<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">
    <img src="/img/xpto_logo.png" width="140" height="53" class="d-inline-block align-top" alt="">        
  </a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Resumo </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Chamados </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Relatórios </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Configurações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Usuários</a>
          <a class="dropdown-item" href="#">Grupos</a>
          <a class="dropdown-item" href="#">Perfis</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Chamados</a>
          <a class="dropdown-item" href="#">Assuntos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/logout">Sair </a>
      </li>
    </ul>
  </div>
</nav>