<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Novo usuário</title>
</head>

<link rel="stylesheet" href="/css/bootstrap.min.css">

<body>

    <% include ./layout/navbar %>

    <main role="main" style="margin-top:95px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h5>Cadastro de usuário</h5>
                </div>
            </div>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <form action="/config/usuarios/novo/gravar" method="POST">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" name="nome" id="nome" value="" class="form-control col-md-5">
                        </div>
                        <div class="form-group">
                            <label for="cpf">CPF:</label>
                            <input type="text" name="cpf" id="cpf" value="" class="form-control col-md-3">
                        </div>
                        <div class="form-group">
                            <label for="email">E-mail:</label>
                            <input type="email" name="email" id="email" value="" class="form-control col-md-5">
                        </div>
                        <div class="form-group">
                            <label for="login">Login</label>:</label>
                            <input type="text" name="login" id="login" value="" class="form-control col-md-5">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha" senha="" class="form-control col-md-5">
                        </div>
                        <div class="form-group">
                            <label for="ativo">Ativo?</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Sim</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Não</label>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-3">
                                <label for="perfil col-md-3">Setor: </label>
                                <select class="custom-select">                                
                                    <option selected>TI</option>
                                    <option value="1">Administrativo</option>
                                    <option value="2">Comercial</option>
                                    <option value="3">Vendas</option>
                                </select>
                            </div>

                            <div class="col-md-3">
                                <label for="perfil col-md-3">Perfil: </label>
                                <select class="custom-select">
                                    <option selected>Admin</option>
                                    <option value="1">Vendedor</option>
                                    <option value="2">Adm</option>
                                    <option value="3">Comprador</option>
                                </select>
                            </div>
                        </div>
                        <div class=" form-group">                            
                            <button class="btn btn-primary btn-md" type="submit">Salvar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <% include ./layout/footer %>

</body>

<script src="/js/jquery-3.4.1.slim.js"></script>
<script src="/js/bootstrap.min.js"></script>

</html>